@font-face {
  font-family: "labGrotesque";
  src: url("../fonts/LabGrotesque/LabGrotesque-Thin.ttf");
  font-weight: 250;
}
@font-face {
  font-family: "labGrotesque";
  src: url("../fonts/LabGrotesque/LabGrotesque-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "labGrotesque";
  src: url("../fonts/LabGrotesque/LabGrotesque-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "ScaniaSansHL";
  src: url("../fonts/ScaniaSans/ScaniaSansCYHeadline-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: ScaniaSans;
  src: url("../fonts/ScaniaSans/ScaniaSansCY-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "ScaniaSans";
  src: url("../fonts/ScaniaSans/ScaniaSansCY-Regular.ttf");
  font-weight: 400;
}
