.info {
  display: grid;
  grid-template-columns: repeat(2, 53.7rem);
  grid-column-gap: 12rem;
  position: relative;
  &__variants {
    grid-column: 1/-1;
  }
  &__dark-spot {
    position: absolute;
    background: #000000;
    filter: blur(10rem);
    border-radius: 30rem;
    width: 57rem;
    height: 28.4rem;
    top: 18.2rem;
    left: 8.7rem;
  }
}

.fuel {
  font-family: "LabGrotesque";
  font-weight: 400;
  color: white;
  position: relative;
  padding-bottom: 3rem;
  padding-top: 8rem;
  &__title {
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 2.5rem;
    font-weight: 400;
  }
  &__info {
    display: inline-block;
    width: fit-content;
    border-bottom: 1px solid #ffcf7a;
    line-height: 2.7rem;
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
  &__connect {
    width: 6rem;
    position: absolute;
    right: 4rem;
    top: 19.3rem;
    transform: rotate(58deg);
    border-color: #ffcf7a;
  }
}

.sizes {
  font-family: "LabGrotesque";
  color: white;
  padding-top: 2rem;
  &__title {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 4rem;
    margin-bottom: 2.5rem;
    display: inline-block;
    width: 34.1rem;
    z-index: 1;
    position: relative;
  }
  &__info {
    font-family: "LabGrotesque";
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.7rem;
    z-index: 1;
    position: relative;
  }
}

.variants {
  color: white;
  font-family: "LabGrotesque";
  display: flex;
  margin-bottom: 11rem;
  &__title {
    color: rgba(117, 117, 117, 1);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.7rem;
    margin-bottom: 0.7rem;
    z-index: 1;
    position: relative;
    &_2 {
      margin-bottom: 2rem;
    }
  }
  &__variants {
    display: grid;
    grid-template-columns: repeat(2, 31rem);
    grid-row-gap: 0.5rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.7rem;
    margin-bottom: 7rem;
    width: 65.5rem;
    & > p {
      display: inline-block;
      width: fit-content;
      z-index: 1;
    }
    &_2 {
      margin-bottom: 0;
    }
  }
  &__slider {
    position: relative;
    & > div {
      position: absolute;
      bottom: 0;
    }
  }
}

.slider {
  width: 53.7rem;
  height: 34.6rem;
  background-color: black;
  position: relative;
  &__arrows {
    position: absolute;
    left: 4rem;
    bottom: 4.5rem;
    & > img {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.solution {
  font-family: "LabGrotesque";
  color: white;
  &__title {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 2.4rem;
  }
  &__info {
    font-family: "LabGrotesque";
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.7rem;
    margin-bottom: 3.7rem;
  }
}

.acc {
  font-family: "LabGrotesque";
  color: white;
  margin-bottom: 10rem;
}

.button {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  color: white;
  position: relative;
  margin-bottom: 10rem;
  &__effect {
    width: 10rem;
    height: 20rem;
    position: absolute;
    bottom: -7.4rem;
    left: 51rem;
    background: rgba(175, 152, 112, 0.34);
    filter: blur(50px);
    border-radius: 300px;
    transform: matrix(0, 1, 1, 0, 0, 0);
  }
  &__title {
    text-align: center;
    font-family: "LabGrotesque";
    font-weight: 300;
    font-size: 3rem;
    line-height: 4.4rem;
  }
  &__button {
    text-align: center;
    background-color: #eccf94;
    width: 28.4rem;
    height: 6rem;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 0.1rem;
    & > p {
      z-index: 2;
      font-size: 1.8rem;
      line-height: 3rem;
      font-family: "LabGrotesque";
      font-weight: 500;
      position: relative;
    }
    &::after {
      content: "";
      display: block;
      width: 18.4rem;
      height: 12.4rem;
      position: absolute;
      background: linear-gradient(
        270.21deg,
        rgba(255, 217, 196, 0.8) 18.08%,
        rgba(255, 255, 255, 0.8) 68.72%
      );
      filter: blur(25px);
      transform: matrix(-1, 0, 0, 1, 0, 0);
      right: -1.7rem;
      bottom: 1.7rem;
    }
    &::before {
      content: "";
      display: block;
      background: linear-gradient(
        270.21deg,
        rgba(249, 139, 77, 0.8) 18.08%,
        rgba(255, 103, 82, 0.8) 68.72%
      );
      filter: blur(25px);
      width: 18.4rem;
      height: 12.4rem;
      top: 1.7rem;
      left: -1.7rem;
      position: absolute;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.cards {
  margin-bottom: 9rem;
  &__title {
    font-family: "LabGrotesque";
    font-style: normal;
    font-weight: 250;
    font-size: 4rem;
    line-height: 5.5rem;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin-bottom: 4.5rem;
    background: linear-gradient(
      249.07deg,
      #ffffff 36.17%,
      rgba(255, 255, 255, 0) 97.71%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  &__cards {
    display: flex;
    gap: 4.2rem;
  }
  &__card {
    width: 37rem;
    height: 26.7rem;
    background-color: black;
  }
}
