@import "./fonts.scss";
@import "./header.scss";
@import "./hero.scss";
@import "./fire.scss";
@import "./refueling.scss";
@import "./smart.scss";
@import "./info.scss";
@import "./constructor.scss";
@import "./footer.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #1d1d1c;
  width: 100vw;
  overflow-x: hidden;
}
.container {
  width: 120rem;
  margin: 0 auto;
  height: fit-content;
  background-color: #1d1d1c;
  padding-top: 4.5rem;
}
